<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="EntryPoint" value="index.js" />
  </appSettings>
  <nlog>
    <extensions>
      <add assembly="le_nlog"/>
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" key="92e4a151-9424-4b1b-beff-b662cb918757" location="AppHarbor/Default" debug="true" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="logentries"/>
    </rules>
  </nlog>
</configuration>